service: cleanfunctions

frameworkVersion: '3'

plugins:
  - serverless-jetpack
  - serverless-offline

provider:
  name: aws
  runtime: nodejs18.x
  region: eu-west-3

functions:
  api:
    handler: dist/function.handler
    events:
      - http:
          method: any
          path: /{proxy+}

custom:
  serverless-offline:
    noPrependStageInUrl: true